*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.att{
	position: relative;
}

.filetext{
	color: #BBB;
	font-size: 14px;
	width: 100%;
    padding: 10px;
	border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
}

.filetext button{
	padding: 2px 5px;
	margin: 0 10px 0 0;
}

.filetext button.hover{
	background: #bbb;
	text-decoration: none;
	border: 1px solid #aaa;
}

.hidefile {
	width: 100%;
	height: 28px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0; 
}

.preview{
	position: relative;
	display: table;
}

.preview img{
	margin-bottom: 20px;
}

.input-append .add-on, .input-prepend .add-on{
	height: 28px !important;
}

input[type="text"].input-small{
	color: #555;
	width: 206px;
	height: 28px;
    padding: 4px 6px;
    line-height: 18px;
}

input[type="text"].text-area-order{
	width: 60px;
	height: 30px;
}

.js-stools-container-bar input[type="text"]{
	height: 28px;
}

.icon-32-cancel {
	width: 32px !important;
    height: 32px !important;
    position: absolute;
    right: -16px;
    top: -10px;
    opacity: 0.6;
    text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-image: url("../assets/imgs/icon-32-delete.png");
    display: block !important;
}

.icon-32-cancel:hover{
	opacity: 1;
}

.gallery-img{
	position: relative;
	padding-top: 40px;
}

.gallery-img .icon-32-cancel{
	top: 40px;
	left: 0;
	right: auto !important;
}

.gallery-img img.previewImg{
	margin-bottom: 20px;
	display: block;
}

input.normal{
	width: 50%;
	height: 40px !important;
}

textarea.normal{
	width: 50%;
	height: 100px;
}

textarea.middle{
	width: 40%;
	height: 150px;
}

textarea.full{
	width: 100%;
	height: 300px;
}
